{"openapi":"3.0.1","info":{"title":"Reporting API","description":"The reporting API provides the data to generate the reports as seen on the Umbrella dashboard.\n\nTo get a token to use programatically with the API you will need a key and secret from the API Keys page in the Umbrella dashboard. (Admin -> API Keys -> Umbrella Reporting.)\nYou can then use those credentials to generate a short-lived token to use against the reporting API by issuing an HTTP Basic Auth request to https://management.api.umbrella.com/auth/v2/oauth2/token\nwith the key and secret supplied as the username and password.\n\nWith cURL for example:\n\n<pre>curl -u \"key:secret\" https://management.api.umbrella.com/auth/v2/oauth2/token<\/pre>\n\nIf your credentials are valid you should get a JSON payload returned that contains an access token:\n\n<pre>{\"token_type\":\"bearer\",\"access_token\":\"xxxxxx\",expires_in\":3600}<\/pre>\n\nThat access token can then be used until its expiration with the reporting API by supplying it in the Authorization header as such:\n\n<pre>Authorization: Bearer &lt;token&gt;<\/pre>\n\nWith cURL for example:\n\n<pre>curl -H \"Authorization: Bearer &lt;token&gt;\" https://reports.api.umbrella.com/v2/organizations/&lt;id&gt;/activity<\/pre>","version":""},"servers":[{"url":"https://reports.api.umbrella.com/v2"}],"tags":[{"name":"Activity"},{"name":"Top Identities"},{"name":"Identity Distribution"},{"name":"Top Destinations"},{"name":"Top Categories"},{"name":"Top Event Types"},{"name":"Top DNS query types"},{"name":"Organization Requests by Hour"},{"name":"Organization Requests by Timerange"},{"name":"Organization Requests by Hour and Category"},{"name":"Organization Requests by Timerange and Category"},{"name":"Deployment Status"},{"name":"MSP Deployment Status"},{"name":"MSP Requests by Hour"},{"name":"MSP Requests by Timerange"},{"name":"MSP Requests by Organization"},{"name":"MSP Requests by Category"},{"name":"MSP Requests by Destination"},{"name":"MSP Category Requests by Organization"},{"name":"Bandwidth by Hour"},{"name":"Bandwidth by Timerange"},{"name":"Top Files"},{"name":"Total Requests"},{"name":"Top Threats"},{"name":"Top Threat Types"},{"name":"Utility"},{"name":"Top IPs"},{"name":"Summary"},{"name":"Summaries by Category"},{"name":"Summaries by Destination"}],"paths":{"/organizations/{organizationid}/activity":{"get":{"tags":["Activity"],"summary":"Activity (all)","description":"Gets a list of all activity entries (dns/proxy/firewall/ip) within timeframe.\n\nNote: the last 20 minutes of DNS activity cannot be filtered by identity type, threats, or threattypes.","operationId":"Activity (all)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/ruleIdParam"},{"$ref":"#/components/parameters/filenameParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/xTrafficTypeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","domain","externalip","identities","internalip","policy","policycategories","timestamp","type","verdict"],"type":"object","properties":{"externalip":{"type":"string","description":"external IP for entry"},"internalip":{"type":"string","description":"internal IP for entry"},"policycategories":{"type":"array","items":{"type":"number"},"description":"array of policy category IDs"},"categories":{"type":"array","items":{"type":"number"},"description":"array of category IDs"},"verdict":{"type":"string","description":"verdict for entry"},"domain":{"type":"string","description":"domain for entry"},"timestamp":{"type":"number","description":"timestamp"},"identities":{"type":"array","items":{"$ref":"#/components/schemas/Identity"},"description":"array of identities for entry"},"type":{"type":"string","description":"type of the request, one of dns/proxy/ip/firewall"},"policy":{"required":["destinationlistids","ruleid","rulesetid","timebasedrule"],"type":"object","properties":{"timebasedrule":{"type":"boolean","description":"whether the policy triggered a time-of-day rule"},"destinationlistids":{"type":"array","items":{"type":"number"},"description":"the destination lists that the policy triggered"},"ruleid":{"type":"number","description":"the rule ID for the policy"},"rulesetid":{"type":"number","description":"the rule set ID for the policy"}},"description":"the policy for the request"}}}},"example":[{"externalip":"52.8.160.247","internalip":"52.8.160.247","policycategories":[{"id":1,"label":"Malware","type":"security","integration":true}],"categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"verdict":"allowed","domain":"google.com","timestamp":1548311506,"identities":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}],"type":"dns","policy":{"timebasedrule":true,"destinationlistids":[],"ruleid":1,"rulesetid":1}}]}}}}}},"/organizations/{organizationid}/activity/dns":{"get":{"tags":["Activity"],"summary":"Activity DNS","description":"Gets a list of all DNS entries within timeframe.\n\nNote: the last 20 minutes of DNS activity cannot be filtered by identity type, threats, or threattypes.","operationId":"Activity DNS","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/orderParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["allapplications","categories","domain","externalip","identities","internalip","policycategories","timestamp","type","verdict"],"type":"object","properties":{"externalip":{"type":"string","description":"external IP for entry"},"internalip":{"type":"string","description":"internal IP for entry"},"policycategories":{"type":"array","items":{"type":"number"},"description":"array of policy category IDs"},"categories":{"type":"array","items":{"type":"number"},"description":"array of category IDs"},"verdict":{"type":"string","description":"verdict for entry"},"domain":{"type":"string","description":"domain for entry"},"timestamp":{"type":"number","description":"timestamp"},"identities":{"type":"array","items":{"$ref":"#/components/schemas/Identity"},"description":"array of identities for entry"},"allapplications":{"type":"array","items":{"$ref":"#/components/schemas/Application"},"description":"array of applications for entry"},"type":{"type":"string","description":"type of the request. a dns request always has type dns"}}}},"example":[{"externalip":"52.8.160.247","internalip":"52.8.160.247","policycategories":[{"id":1,"label":"Malware","type":"security","integration":true}],"categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"verdict":"allowed","domain":"google.com","timestamp":1548311506,"identities":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}],"allapplications":[{"id":1,"label":"label","app-name":"app name","app-type-id":"1","app-type":"type","type":"NBAR"}],"type":"dns"}]}}}}}},"/organizations/{organizationid}/activity/proxy":{"get":{"tags":["Activity"],"summary":"Activity Proxy","description":"Gets a list of all Proxy entries within timeframe.","operationId":"Activity Proxy","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/orderParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/ruleIdParam"},{"$ref":"#/components/parameters/filenameParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/tenantControlsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["allapplications","allowedapplications","amp","antivirusthreats","blockedapplications","blockedfiletype","bundleid","categories","domain","externalip","identities","internalip","policy","policycategories","port","responsefilename","tenantcontrols","timestamp","type","verdict"],"type":"object","properties":{"externalip":{"type":"string","description":"external IP for entry"},"internalip":{"type":"string","description":"internal IP for entry"},"policycategories":{"type":"array","items":{"type":"number"},"description":"array of policy category IDs"},"categories":{"type":"array","items":{"type":"number"},"description":"array of category IDs"},"verdict":{"type":"string","description":"verdict for entry"},"domain":{"type":"string","description":"domain for entry"},"timestamp":{"type":"number","description":"timestamp"},"identities":{"type":"array","items":{"$ref":"#/components/schemas/Identity"},"description":"array of identities for entry"},"allapplications":{"type":"array","items":{"$ref":"#/components/schemas/Application"},"description":"array of applications for entry"},"allowedapplications":{"type":"array","items":{"$ref":"#/components/schemas/Application"},"description":"array of allowed applications for entry"},"blockedapplications":{"type":"array","items":{"$ref":"#/components/schemas/Application"},"description":"array of blocked applications for entry"},"responsefilename":{"type":"string","description":"response filename for entry"},"blockedfiletype":{"type":"string","description":"blocked file type for entry"},"bundleid":{"type":"number","description":"bundleid"},"amp":{"required":["disposition","malware","score"],"type":"object","properties":{"score":{"type":"number","description":"AMP score"},"disposition":{"type":"string","description":"AMP disposition"},"malware":{"type":"string","description":"AMP malware"}},"description":"AMP disposition/score/malware"},"type":{"type":"string","description":"type of the request. a proxy request always has type proxy"},"tenantcontrols":{"type":"boolean","description":"if the request was part of a tenant control policy"},"port":{"type":"number","description":"request port"},"antivirusthreats":{"required":["others","puas","viruses"],"type":"object","properties":{"puas":{"type":"array","items":{"type":"string"},"description":"Potentially unwanted applications"},"viruses":{"type":"array","items":{"type":"string"},"description":"Viruses"},"others":{"type":"array","items":{"type":"string"},"description":"Other antivirus threats"}},"description":"Antivirus threats"},"policy":{"required":["destinationlistids","ruleid","rulesetid","timebasedrule"],"type":"object","properties":{"timebasedrule":{"type":"boolean","description":"whether the policy triggered a time-of-day rule"},"destinationlistids":{"type":"array","items":{"type":"number"},"description":"the destination lists that the policy triggered"},"ruleid":{"type":"number","description":"the rule ID for the policy"},"rulesetid":{"type":"number","description":"the rule set ID for the policy"}},"description":"the policy for the request"}}}},"example":[{"externalip":"52.8.160.247","internalip":"52.8.160.247","policycategories":[{"id":1,"label":"Malware","type":"security","integration":true}],"categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"verdict":"allowed","domain":"google.com","timestamp":1548311506,"identities":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}],"allapplications":[{"id":1,"label":"label","app-name":"app name","app-type-id":"1","app-type":"type","type":"NBAR"}],"allowedapplications":[{"id":1,"label":"label","app-name":"app name","app-type-id":"1","app-type":"type","type":"NBAR"}],"blockedapplications":[{"id":1,"label":"label","app-name":"app name","app-type-id":"1","app-type":"type","type":"NBAR"}],"responsefilename":"","blockedfiletype":"","bundleid":1,"amp":{"score":10,"disposition":"malicious","malware":"W32.Trojan.NM"},"type":"proxy","tenantcontrols":true,"port":80,"antivirusthreats":{"puas":[],"viruses":[],"others":[]},"policy":{"timebasedrule":true,"destinationlistids":[],"ruleid":1,"rulesetid":1}}]}}}}}},"/organizations/{organizationid}/activity/firewall":{"get":{"tags":["Activity"],"summary":"Activity Firewall","description":"Gets a list of all Firewall entries within timeframe.","operationId":"Activity Firewall","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/ruleIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["allapplications","applicationprotocols","destinationip","destinationport","identities","protocol","rule","sourceip","sourceport","timestamp","type","verdict"],"type":"object","properties":{"destinationip":{"type":"string","description":"destination IP for entry"},"sourceip":{"type":"string","description":"source IP for entry"},"sourceport":{"type":"number","description":"source port for entry"},"destinationport":{"type":"number","description":"destination port for entry"},"verdict":{"type":"string","description":"verdict for entry"},"timestamp":{"type":"number","description":"timestamp"},"identities":{"type":"array","items":{"$ref":"#/components/schemas/Identity"},"description":"array of identities for entry"},"protocol":{"required":["id","label"],"type":"object","properties":{"id":{"type":"number","description":"id of protocol"},"label":{"type":"string","description":"name of the protocol"}},"description":"ip protocol"},"rule":{"required":["id","label"],"type":"object","properties":{"id":{"type":"number","description":"id of rule"},"label":{"type":"string","description":"name of the rule"}},"description":"firewall rule"},"type":{"type":"string","description":"type of the request. a firewall request always has type firewall"},"allapplications":{"type":"array","items":{"$ref":"#/components/schemas/FirewallApplication"},"description":"a list of firewall applications"},"applicationprotocols":{"type":"array","items":{"$ref":"#/components/schemas/FirewallApplication"},"description":"a list of firewall applications"}}}},"example":[{"destinationip":"52.8.160.247","sourceip":"192.168.0.1","sourceport":0,"destinationport":0,"verdict":"allowed","timestamp":1548311506,"identities":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}],"protocol":{"id":17,"label":"UDP"},"rule":{"id":1,"label":"Default Rule"},"type":"firewall","allapplications":[{"id":72,"label":"\"dns IT Service Management\"","app":""}],"applicationprotocols":[{"id":72,"label":"\"dns IT Service Management\"","app":""}]}]}}}}}},"/organizations/{organizationid}/activity/ip":{"get":{"tags":["Activity"],"summary":"Activity IP","description":"Gets a list of all IP entries within timeframe.","operationId":"Activity IP","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","destinationip","destinationport","identities","sourceip","sourceport","timestamp","type","verdict"],"type":"object","properties":{"destinationip":{"type":"string","description":"destination IP for entry"},"sourceip":{"type":"string","description":"source IP for entry"},"sourceport":{"type":"number","description":"source port for entry"},"destinationport":{"type":"number","description":"destination port for entry"},"verdict":{"type":"string","description":"verdict for entry, allowed or blocked"},"timestamp":{"type":"number","description":"timestamp"},"identities":{"type":"array","items":{"$ref":"#/components/schemas/Identity"},"description":"array of identities for entry"},"categories":{"type":"array","items":{"type":"number"},"description":"array of category IDs"},"type":{"type":"string","description":"type of the request. an ip request always has type ip"}}}},"example":[{"destinationip":"52.8.160.247","sourceip":"192.168.0.1","sourceport":0,"destinationport":0,"verdict":"allowed","timestamp":1548311506,"identities":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}],"categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"type":"ip"}]}}}}}},"/organizations/{organizationid}/activity/amp-retrospective":{"get":{"tags":["Activity"],"summary":"Activity AMP Retrospective","description":"Gets a list of all AMP retrospective entries within timeframe.","operationId":"Activity AMP Retrospective","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/sha256Param"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["disposition","firstseenat","hostname","malwarename","score","sha256","timestamp"],"type":"object","properties":{"timestamp":{"type":"number","description":"timestamp"},"firstseenat":{"type":"number","description":"timestamp"},"disposition":{"type":"string","description":"disposition for entry"},"score":{"type":"number","description":"score for entry"},"hostname":{"type":"string","description":"hostname for entry"},"malwarename":{"type":"string","description":"malware name for entry"},"sha256":{"type":"string","description":"sha256 for entry"}}}},"example":[{"timestamp":1548311506,"firstseenat":1548311506,"disposition":"clean","score":10,"hostname":"google.com","malwarename":"malware","sha256":"9495b6c155044053953efe30ebaf804780c114e7b721b14f6a5b0a782769696e"}]}}}}}},"/organizations/{organizationid}/top-identities":{"get":{"tags":["Top Identities"],"summary":"Top Identities (all)","description":"Gets a list of identities ordered by the number of requests they made in descending order","operationId":"Top Identities (all)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","identity","rank"],"type":"object","properties":{"rank":{"type":"number","description":"the rank of the result based on the number of requests"},"identity":{"required":["id","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of identity + organizationid: 957974 (number) - organization id for identity"},"label":{"type":"string","description":"label for identity"},"type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}},"count":{"type":"number","description":"total number of requests made by this identity"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}},"description":"number of requests made for this identity"}}}},"example":[{"rank":3,"identity":{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}},"count":3827,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63}}]}}}}}},"/organizations/{organizationid}/top-identities/{type}":{"get":{"tags":["Top Identities"],"summary":"Top Identities","description":"Gets a list of identities ordered by the number of requests they made in descending order","operationId":"Top Identities","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","identity","rank"],"type":"object","properties":{"rank":{"type":"number","description":"the rank of the result based on the number of requests"},"identity":{"required":["id","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of identity + organizationid: 957974 (number) - organization id for identity"},"label":{"type":"string","description":"label for identity"},"type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}},"count":{"type":"number","description":"total number of requests made by this identity"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}},"description":"number of requests made for this identity"}}}},"example":[{"rank":3,"identity":{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}},"count":3827,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63}}]}}}}}},"/organizations/{organizationid}/identity-distribution":{"get":{"tags":["Identity Distribution"],"summary":"Identity Distribution (all)","description":"Gets number of requests by identity types","operationId":"Identity Distribution (all)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","identity_type","requests","unique_identity_count"],"type":"object","properties":{"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}},"description":"number of requests made for this identity type"},"requests":{"type":"number","description":"the requests made by the identity type"},"unique_identity_count":{"type":"string","description":"the number unique identities associated with the identity type"},"identity_type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}}},"example":[{"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"requests":312,"unique_identity_count":"12","identity_type":{"id":21,"label":"Sites","name":"site"}}]}}}}}},"/organizations/{organizationid}/identity-distribution/{type}":{"get":{"tags":["Identity Distribution"],"summary":"Identity Distribution","description":"Gets number of requests by identity types for the traffic type","operationId":"Identity Distribution","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","identity_type","requests","unique_identity_count"],"type":"object","properties":{"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}},"description":"number of requests made for this identity type"},"requests":{"type":"number","description":"the requests made by the identity type"},"unique_identity_count":{"type":"string","description":"the number unique identities associated with the identity type"},"identity_type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}}},"example":[{"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"requests":312,"unique_identity_count":"12","identity_type":{"id":21,"label":"Sites","name":"site"}}]}}}}}},"/organizations/{organizationid}/top-destinations/{type}":{"get":{"tags":["Top Destinations"],"summary":"Top Destinations","description":"Gets a list of destinations ordered by the number of requests made in descending order","operationId":"Top Destinations","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","count","counts","domain","policycategories","rank"],"type":"object","properties":{"rank":{"type":"number","description":"the rank of the result based on the number of requests"},"domain":{"type":"string","description":"destination"},"count":{"type":"number","description":"total number of requests made for this destination"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}},"description":"number of requests made for this destination"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"},"description":"categories associated with the destination"},"policycategories":{"type":"array","items":{"$ref":"#/components/schemas/Category"},"description":"policy categories associated with the destination (i.e., categories that are blocked for)"}}}},"example":[{"rank":4,"domain":"google.com","count":3827,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"policycategories":[{"id":1,"label":"Malware","type":"security","integration":true}]}]}}}}}},"/organizations/{organizationid}/top-urls":{"get":{"tags":["Top Destinations"],"summary":"Top URLs","description":"Returns a list of top-N URLs proxied for a given domain.","operationId":"Top URLs","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","count","path"],"type":"object","properties":{"count":{"type":"number","description":"total number of requests"},"path":{"type":"string","description":"the URL path"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"}}}}},"example":[{"count":123,"path":"","categories":[{"id":1,"label":"Malware","type":"security","integration":true}]}]}}}}}},"/organizations/{organizationid}/top-categories":{"get":{"tags":["Top Categories"],"summary":"Top Categories (all)","description":"Gets a list of categories ordered by the number of requests made matching the categories in descending order","operationId":"Top Categories (all)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["category","count","rank"],"type":"object","properties":{"rank":{"type":"number","description":"the rank of the result based on the number of requests"},"category":{"required":["id","integration","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of category"},"label":{"type":"string","description":"the human readable label of the category"},"type":{"type":"string","description":"the type of category"},"integration":{"type":"boolean","description":"if the category is an integration"}}},"count":{"type":"number","description":"number of requests made that match this category"}}}},"example":[{"rank":5,"category":{"id":1,"label":"Malware","type":"security","integration":true},"count":3827}]}}}}}},"/organizations/{organizationid}/top-categories/{type}":{"get":{"tags":["Top Categories"],"summary":"Top Categories","description":"Gets a list of categories ordered by the number of requests made matching the categories in descending order","operationId":"Top Categories","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["category","count","rank"],"type":"object","properties":{"rank":{"type":"number","description":"the rank of the result based on the number of requests"},"category":{"required":["id","integration","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of category"},"label":{"type":"string","description":"the human readable label of the category"},"type":{"type":"string","description":"the type of category"},"integration":{"type":"boolean","description":"if the category is an integration"}}},"count":{"type":"number","description":"number of requests made that match this category"}}}},"example":[{"rank":5,"category":{"id":1,"label":"Malware","type":"security","integration":true},"count":3827}]}}}}}},"/organizations/{organizationid}/top-eventtypes":{"get":{"tags":["Top Event Types"],"summary":"Top Event Types (all)","description":"Gets a list of eventtypes ordered by the number of requests made for each eventtype in descending order. The list of eventtypes is \"domain_security\", \"domain_integration\", \"url_security\", \"url_integration\", \"cisco_amp\" and \"antivirus\".","operationId":"Top Event Types (all)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","eventtype"],"type":"object","properties":{"eventtype":{"type":"string","description":"the eventtype. one of \"domain_security\", \"domain_integration\", \"url_security\", \"url_integration\", \"cisco_amp\" and \"antivirus\""},"count":{"type":"number","description":"number of requests made that match this eventtype"}}}},"example":[{"eventtype":"","count":3827}]}}}}}},"/organizations/{organizationid}/top-dns-query-types":{"get":{"tags":["Top DNS query types"],"summary":"Top DNS Query Types","operationId":"Top DNS Query Types","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/orderParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["querytype","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"querytype":{"type":"string","description":"DNS query type"}}}},"example":[{"requests":123,"querytype":"A"}]}}}}}},"/organizations/{organizationid}/requests-by-hour":{"get":{"tags":["Organization Requests by Hour"],"summary":"Requests by Hour (ALL)","description":"Gets activity volume within timeframe","operationId":"Requests by Hour (ALL)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/requests-by-hour/{type}":{"get":{"tags":["Organization Requests by Hour"],"summary":"Requests by Hour","description":"Gets activity volume within timeframe","operationId":"Requests by Hour","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/requests-by-timerange":{"get":{"tags":["Organization Requests by Timerange"],"summary":"Requests by Timerange (ALL)","description":"Gets activity volume within timeframe","operationId":"Requests by Timerange (ALL)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/timerangeParam"},{"$ref":"#/components/parameters/xTrafficTypeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/requests-by-timerange/{type}":{"get":{"tags":["Organization Requests by Timerange"],"summary":"Requests by Timerange","description":"Gets activity volume within timeframe","operationId":"Requests by Timerange","parameters":[{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/timerangeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/categories-by-hour":{"get":{"tags":["Organization Requests by Hour and Category"],"summary":"Requests by Hour and Category (ALL)","description":"Gets activity volume within timeframe breakdown by categories","operationId":"Requests by Hour and Category (ALL)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","date","time","timestamp"],"type":"object","properties":{"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"},"counts":{"type":"array","items":{"$ref":"#/components/schemas/CategoryCount"}}}}},"example":[{"timestamp":1559836800000,"date":"2019","time":"16:00:00","counts":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"requests":123}]}]}}}}}},"/organizations/{organizationid}/categories-by-hour/{type}":{"get":{"tags":["Organization Requests by Hour and Category"],"summary":"Requests by Hour and Category","description":"Gets activity volume within timeframe breakdown by categories","operationId":"Requests by Hour and Category","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","date","time","timestamp"],"type":"object","properties":{"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"},"counts":{"type":"array","items":{"$ref":"#/components/schemas/CategoryCount"}}}}},"example":[{"timestamp":1559836800000,"date":"2019","time":"16:00:00","counts":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"requests":123}]}]}}}}}},"/organizations/{organizationid}/categories-by-timerange":{"get":{"tags":["Organization Requests by Timerange and Category"],"summary":"Requests by Timerange and Category (ALL)","description":"Gets activity volume within timeframe breakdown by categories","operationId":"Requests by Timerange and Category (ALL)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/timerangeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","date","time","timestamp"],"type":"object","properties":{"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"},"counts":{"type":"array","items":{"$ref":"#/components/schemas/CategoryCount"}}}}},"example":[{"timestamp":1559836800000,"date":"2019","time":"16:00:00","counts":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"requests":123}]}]}}}}}},"/organizations/{organizationid}/categories-by-timerange/{type}":{"get":{"tags":["Organization Requests by Timerange and Category"],"summary":"Requests by Timerange and Category","description":"Gets activity volume within timeframe breakdown by categories","operationId":"Requests by Timerange and Category","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/timerangeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","date","time","timestamp"],"type":"object","properties":{"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"},"counts":{"type":"array","items":{"$ref":"#/components/schemas/RequestsByHourAndCategory"}}}}},"example":[{"timestamp":1559836800000,"date":"2019","time":"16:00:00","counts":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"requests":123}]}]}}}}}},"/organizations/{organizationid}/deployment-status":{"get":{"tags":["Deployment Status"],"summary":"Deployment Status","description":"Gets deployment status within timeframe","operationId":"Deployment Status","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["activecount","count","identitytype"],"type":"object","properties":{"identitytype":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}},"activecount":{"type":"number","description":"active identity type count"},"count":{"type":"number","description":"total identity type count"}}}},"example":[{"identitytype":{"id":21,"label":"Sites","name":"site"},"activecount":1,"count":1}]}}}}}},"/providers/{msporganizationid}/deployments":{"get":{"tags":["MSP Deployment Status"],"summary":"Deployment Status by Organization","description":"Gets summary counts of Deployment Status by Organization within timeframe","operationId":"Deployment Status by Organization","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","organization"],"type":"object","properties":{"organization":{"required":["id","label"],"type":"object","properties":{"id":{"type":"number","description":"orgid"},"label":{"type":"string"}}},"counts":{"type":"array","items":{"$ref":"#/components/schemas/DeploymentStatus"}}}}},"example":[{"organization":{"id":232323,"label":"Company Name Goes Here"},"counts":[{"identitytype":{"id":21,"label":"Sites","name":"site"},"activecount":1,"count":1}]}]}}}}}},"/providers/{msporganizationid}/requests-by-hour":{"get":{"tags":["MSP Requests by Hour"],"summary":"MSP Requests by Hour (ALL)","description":"Gets activity volume within timeframe","operationId":"MSP Requests by Hour (ALL)","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/providers/{msporganizationid}/requests-by-timerange":{"get":{"tags":["MSP Requests by Timerange"],"summary":"MSP Requests by Timerange (ALL)","description":"Gets activity volume within timeframe","operationId":"MSP Requests by Timerange (ALL)","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/timerangeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","counts","date","time","timestamp"],"type":"object","properties":{"count":{"type":"number"},"counts":{"required":["allowedrequests","blockedrequests","requests"],"type":"object","properties":{"requests":{"type":"number","description":"total number of requests"},"allowedrequests":{"type":"number","description":"number of requests that were allowed"},"blockedrequests":{"type":"number","description":"number of requests that were blocked"}}},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"count":123,"counts":{"requests":123,"allowedrequests":60,"blockedrequests":63},"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/providers/{msporganizationid}/requests-by-org":{"get":{"tags":["MSP Requests by Organization"],"summary":"MSP Requests by Organization","description":"Gets summary counts of all requests within timeframe","operationId":"MSP Requests by Organization","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","organization"],"type":"object","properties":{"organization":{"required":["id","label"],"type":"object","properties":{"id":{"type":"number","description":"orgid"},"label":{"type":"string"}}},"counts":{"required":["total","totalblocked"],"type":"object","properties":{"total":{"type":"number","description":"total number of requests"},"totalblocked":{"type":"number","description":"blocked requests"}}}}}},"example":[{"organization":{"id":232323,"label":"Company Name Goes Here"},"counts":{"total":1,"totalblocked":1}}]}}}}}},"/providers/{msporganizationid}/requests-by-category":{"get":{"tags":["MSP Requests by Category"],"summary":"MSP Requests by Category","description":"Gets summary counts of all requests within timeframe","operationId":"MSP Requests by Category","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["category","counts"],"type":"object","properties":{"category":{"required":["id","integration","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of category"},"label":{"type":"string","description":"the human readable label of the category"},"type":{"type":"string","description":"the type of category"},"integration":{"type":"boolean","description":"if the category is an integration"}}},"counts":{"required":["numberoforganizationsaffected","total","totalblocked"],"type":"object","properties":{"total":{"type":"number","description":"total number of requests"},"totalblocked":{"type":"number","description":"blocked requests"},"numberoforganizationsaffected":{"type":"number","description":"number of organizations with traffic for that category"}}}}}},"example":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"counts":{"total":1,"totalblocked":1,"numberoforganizationsaffected":1}}]}}}}}},"/providers/{msporganizationid}/requests-by-destination":{"get":{"tags":["MSP Requests by Destination"],"summary":"MSP Requests by Destination","description":"Gets summary counts of all requests within timeframe","operationId":"MSP Requests by Destination","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","counts","domain"],"type":"object","properties":{"domain":{"type":"string"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"}},"counts":{"required":["numberoforganizationsaffected","total","totalblocked"],"type":"object","properties":{"total":{"type":"number","description":"total number of requests"},"totalblocked":{"type":"number","description":"blocked requests"},"numberoforganizationsaffected":{"type":"number","description":"number of organizations with traffic for that category"}}}}}},"example":[{"domain":"","categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"counts":{"total":1,"totalblocked":1,"numberoforganizationsaffected":1}}]}}}}}},"/providers/{msporganizationid}/category-requests-by-org":{"get":{"tags":["MSP Category Requests by Organization"],"summary":"MSP Category Requests by Organization","description":"Gets summary counts of all requests for each category per organization within the timeframe","operationId":"MSP Category Requests by Organization","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["counts","organization"],"type":"object","properties":{"organization":{"required":["id","label"],"type":"object","properties":{"id":{"type":"number","description":"orgid"},"label":{"type":"string"}}},"counts":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRequests"}}}}},"example":[{"organization":{"id":232323,"label":"Company Name Goes Here"},"counts":[{"category":{"id":1,"label":"Malware","type":"security","integration":true},"requests":123,"requestsblocked":34,"numberoforganizationswithcategorizedtraffic":1}]}]}}}}}},"/organizations/{organizationid}/bandwidth-by-hour":{"get":{"tags":["Bandwidth by Hour"],"summary":"Bandwidth by Hour (All)","description":"Gets bandwidth in bytes within timeframe. Only returns proxy data.","operationId":"Bandwidth by Hour (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["date","inboundbytes","outboundbytes","time","timestamp"],"type":"object","properties":{"inboundbytes":{"type":"number"},"outboundbytes":{"type":"number"},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"inboundbytes":123,"outboundbytes":456,"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/bandwidth-by-timerange":{"get":{"tags":["Bandwidth by Timerange"],"summary":"Bandwidth by Timerange (All)","description":"Gets bandwidth in bytes within timeframe. Only returns proxy data.","operationId":"Bandwidth by Timerange (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"},{"$ref":"#/components/parameters/timerangeParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["date","inboundbytes","outboundbytes","time","timestamp"],"type":"object","properties":{"inboundbytes":{"type":"number"},"outboundbytes":{"type":"number"},"timestamp":{"type":"number","description":"time in milliseconds for this bucket"},"date":{"type":"string","description":"06-06 (string) - the date from the timestamp based on the timezone parameter"},"time":{"type":"string","description":"the time in 24 hour format based on the timezone parameter"}}}},"example":[{"inboundbytes":123,"outboundbytes":456,"timestamp":1559836800000,"date":"2019","time":"16:00:00"}]}}}}}},"/organizations/{organizationid}/top-files":{"get":{"tags":["Top Files"],"summary":"Top Files (Proxy)","description":"Gets top files within timeframe. Only returns proxy data.","operationId":"Top Files (Proxy)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["categories","filenames","filetypes","identitycount","requests","sha256"],"type":"object","properties":{"requests":{"type":"number"},"sha256":{"type":"string","description":"sha256 for entry"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/Category"}},"identitycount":{"type":"number","description":"count of identities for entry"},"filenames":{"type":"array","items":{"type":"string"},"description":"array of filenames for entry"},"filetypes":{"type":"array","items":{"type":"string"},"description":"array of filetypes for entry"}}}},"example":[{"requests":123,"sha256":"9495b6c155044053953efe30ebaf804780c114e7b721b14f6a5b0a782769696e","categories":[{"id":1,"label":"Malware","type":"security","integration":true}],"identitycount":1,"filenames":[],"filetypes":[]}]}}}}}},"/organizations/{organizationid}/total-requests":{"get":{"tags":["Total Requests"],"summary":"Total Requests (All)","description":"Returns a count of total requests for the given filters.","operationId":"Total Requests (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/ruleIdParam"},{"$ref":"#/components/parameters/sha256Param"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"count":42}}}}}}},"/organizations/{organizationid}/total-requests/{type}":{"get":{"tags":["Total Requests"],"summary":"Total Requests (By Type)","description":"Returns a count of total requests for the given filters.","operationId":"Total Requests (By Type)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/urlsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/portsParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/ruleIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/securityOverriddenParam"},{"$ref":"#/components/parameters/bundleIdParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"},{"$ref":"#/components/parameters/ampDispositionParam"},{"$ref":"#/components/parameters/antivirusThreatsParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"count":42}}}}}}},"/organizations/{organizationid}/top-threats":{"get":{"tags":["Top Threats"],"summary":"Top Threats (All)","description":"Gets top threats within timeframe. Returns both DNS and Proxy data.","operationId":"Top Threats (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","threatname","threattype"],"type":"object","properties":{"threatname":{"type":"string","description":"the threat name"},"threattype":{"type":"string","description":"the threat type"},"count":{"type":"number","description":"the number of requests for that threat name"}}}},"example":[{"threatname":"Wannacry","threattype":"Ransomware","count":361}]}}}}}},"/organizations/{organizationid}/top-threats/{type}":{"get":{"tags":["Top Threats"],"summary":"Top Threats (By Type)","description":"Gets top threats within timeframe for the given filters.","operationId":"Top Threats (By Type)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","threatname","threattype"],"type":"object","properties":{"threatname":{"type":"string","description":"the threat name"},"threattype":{"type":"string","description":"the threat type"},"count":{"type":"number","description":"the number of requests for that threat name"}}}},"example":[{"threatname":"Wannacry","threattype":"Ransomware","count":361}]}}}}}},"/organizations/{organizationid}/top-threat-types":{"get":{"tags":["Top Threat Types"],"summary":"Top Threat Types (All)","description":"Gets top threat-types within timeframe. Returns both DNS and Proxy data.","operationId":"Top Threat Types (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","threatscount","threattype"],"type":"object","properties":{"threattype":{"type":"string","description":"the threat type"},"threatscount":{"type":"string","description":"count of threats for this threat type"},"count":{"type":"number","description":"the number of requests for that threat type"}}}},"example":[{"threattype":"Ransomware","threatscount":"10","count":361}]}}}}}},"/organizations/{organizationid}/top-threat-types/{type}":{"get":{"tags":["Top Threat Types"],"summary":"Top Threat Types (By Type)","description":"Gets top threat-types within timeframe for the given filters.","operationId":"Top Threat Types (By Type)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/typeParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","threatscount","threattype"],"type":"object","properties":{"threattype":{"type":"string","description":"the threat type"},"threatscount":{"type":"string","description":"count of threats for this threat type"},"count":{"type":"number","description":"the number of requests for that threat type"}}}},"example":[{"threattype":"Ransomware","threatscount":"10","count":361}]}}}}}},"/organizations/{organizationid}/applications":{"get":{"tags":["Utility"],"summary":"Applications","operationId":"Applications","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/applicationNameParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"application":[{"id":1,"label":"label","app-name":"app name","app-type-id":"1","app-type":"type","type":"NBAR"}],"category":[{"id":1,"name":"Category Name"}]}}}}}}},"/organizations/{organizationid}/categories":{"get":{"tags":["Utility"],"summary":"Categories","operationId":"Categories","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["id","integration","label","legacyid","type"],"type":"object","properties":{"id":{"type":"number","description":"id of category"},"legacyid":{"type":"number","description":"legacy id used by older APIs in umbrella"},"label":{"type":"string","description":"the human readable label of the category"},"type":{"type":"string","description":"the type of category"},"integration":{"type":"boolean","description":"if the category is an integration"}}}},"example":[{"id":1,"legacyid":1,"label":"Malware","type":"security","integration":true}]}}}}}},"/providers/{msporganizationid}/categories":{"get":{"tags":["Utility"],"summary":"MSP Categories","operationId":"MSP Categories","parameters":[{"$ref":"#/components/parameters/mspOrganizationIdParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["id","integration","label","legacyid","type"],"type":"object","properties":{"id":{"type":"number","description":"id of category"},"legacyid":{"type":"number","description":"legacy id used by older APIs in umbrella"},"label":{"type":"string","description":"the human readable label of the category"},"type":{"type":"string","description":"the type of category"},"integration":{"type":"boolean","description":"if the category is an integration"}}}},"example":[{"id":1,"legacyid":1,"label":"Malware","type":"security","integration":true}]}}}}}},"/organizations/{organizationid}/identities":{"get":{"tags":["Utility"],"summary":"Identities","operationId":"Identities","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/limitParam"},{"$ref":"#/components/parameters/offsetParam"},{"$ref":"#/components/parameters/searchParam"},{"$ref":"#/components/parameters/identityTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["id","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of identity + organizationid: 957974 (number) - organization id for identity"},"label":{"type":"string","description":"label for identity"},"type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}}},"example":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}]}}}}},"post":{"tags":["Utility"],"summary":"Identities","description":"It is possible to do a bulk query for identities by their ids by doing a POST request with identityids as an array in the request body.","operationId":"UtilityIdentities","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/limitParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["id","label","type"],"type":"object","properties":{"id":{"type":"number","description":"id of identity + organizationid: 957974 (number) - organization id for identity"},"label":{"type":"string","description":"label for identity"},"type":{"required":["id","label","name"],"type":"object","properties":{"id":{"type":"number","description":"origin type for identity"},"label":{"type":"string","description":"origin type label for identity"},"name":{"type":"string","description":"origin type name for identity"}}}}}},"example":[{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}]}}}}}},"/organizations/{organizationid}/identities/{identityid}":{"get":{"tags":["Utility"],"summary":"Identity","operationId":"Identity","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/identityIdParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"id":1,"label":"Catch Rate Testing System","type":{"id":21,"label":"Sites","name":"site"}}}}}}}},"/organizations/{organizationid}/threat-types":{"get":{"tags":["Utility"],"summary":"Threat Types","operationId":"Threat Types","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["description","name"],"type":"object","properties":{"name":{"type":"string","description":"name of the threat-type"},"description":{"type":"string","description":"description of the threat-type"}}}},"example":[{"name":"Ransomware","description":"a description"}]}}}}}},"/organizations/{organizationid}/threat-types/{threattypeid}":{"get":{"tags":["Utility"],"summary":"Threat Type","operationId":"Threat Type","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/threatTypeIdParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"name":"Ransomware","description":"a description"}}}}}}},"/organizations/{organizationid}/threat-names":{"get":{"tags":["Utility"],"summary":"Threat Names","operationId":"Threat Names","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["description","name"],"type":"object","properties":{"name":{"type":"string","description":"name of the threat-name"},"description":{"type":"string","description":"description of the threat-name"}}}},"example":[{"name":"WannaCry","description":"a description"}]}}}}}},"/organizations/{organizationid}/threat-names/{threatnameid}":{"get":{"tags":["Utility"],"summary":"Threat Name","operationId":"Threat Name","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/threatNameIdParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"name":"WannaCry","description":"a description"}}}}}}},"/organizations/{organizationid}/top-ips/internal":{"get":{"tags":["Top IPs"],"summary":"Top IPs Internal","operationId":"Top IPs Internal","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"$ref":"#/components/parameters/fromParam"},{"$ref":"#/components/parameters/toParam"},{"$ref":"#/components/parameters/domainsParam"},{"$ref":"#/components/parameters/categoriesParam"},{"$ref":"#/components/parameters/policyCategoriesParam"},{"$ref":"#/components/parameters/ipParam"},{"$ref":"#/components/parameters/identityIdsParam"},{"$ref":"#/components/parameters/identityTypesParam"},{"$ref":"#/components/parameters/applicationIdParam"},{"$ref":"#/components/parameters/verdictParam"},{"$ref":"#/components/parameters/threatsParam"},{"$ref":"#/components/parameters/threatTypesParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"required":["count","ip"],"type":"object","properties":{"ip":{"type":"string","description":"the ip addresses"},"count":{"type":"number","description":"the number of requests"}}}},"example":[{"ip":"10.0.0.1","count":42}]}}}}}},"/organizations/{organizationid}/summary":{"get":{"tags":["Summary"],"summary":"Summary (All)","operationId":"Summary (All)","parameters":[{"$ref":"#/components/parameters/organizationIdParam"},{"$ref":"#/components/parameters/authorizationHeader"},{"
[...]
